{% extends "layout.html" %}

{% block title %}
    {% if language == 'EN' %}Log In{% else %}Iniciar sesión{% endif %}
{% endblock %}

{% block main %}
    <table class="settings">
        <tr>
            <td>
                <form action="/login" method="post">
                    <div class="form-group">
                        {% if language == 'EN' %}<input style="width: 300px;" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" onkeypress="CheckSpace(event)">
                        {% else %}<input style="width: 300px;" autocomplete="off" autofocus class="form-control" name="username" placeholder="Usuario" type="text" onkeypress="CheckSpace(event)">{% endif %}
                    </div>
                    <div class="form-group">
                        {% if language == 'EN' %}<input style="width: 300px;" class="form-control" name="password" placeholder="Password" type="password" onkeypress="CheckSpace(event)">
                        {% else %}<input style="width: 300px;" class="form-control" name="password" placeholder="Contraseña" type="password" onkeypress="CheckSpace(event)">{% endif %}
                    </div>
                    <button style="width: 300px;" class="btn btn-outline-dark" type="submit">{% if language == 'EN' %}Log In{% else %}Iniciar sesión{% endif %}</button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}